<div class="container">
    <h3 class="title-customer">Gestión de Clientes</h3>
    <div class="create-customer">
        <button type="button" class="btn btn-primary" (click)="createCustomer()">Agregar Cliente</button>
    </div>
    <div class="table-responsive">
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              @for (customer of customerList; track $index) {
                <tr>
                    <th scope="row">{{customer.customerId}}</th>
                    <td>{{customer.firstName}}</td>
                    <td>{{customer.lastName}}</td>
                    <td>{{customer.email}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteCustomer(customer.customerId)">Eliminar</button>
                        <button type="button" class="btn btn-warning">Editar</button>
                    </td>
                  </tr>
              }
            </tbody>
          </table>
    </div>
</div>